---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=photos&input=denver,co&inputtype=textquery&key=<GOOGLE_API>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "candidates" : [
              {
                 "photos" : [
                    {
                       "height" : 960,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/109265035584393045274\"\u003eDave Nitkiewicz\u003c/a\u003e"
                       ],
                       "photo_reference" : "CmRaAAAA-c9FjWePjKByYdfHPrH6VPB5UGeDX5x7a2MfSzyYxVwEfTK32P13VhqND3tF3Fa3QCCVGi4SRmQ3rWP0BkDKCboNQBwiFTCZw6EXi889zSe3BYb-QOTHSjcBEHMJc9CDEhA6eyfZUEgr5cdnuLP4YmV2GhRgLFW5oTstru_h0YCIKCBrjSGHPQ",
                       "width" : 849
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 10 Jun 2020 02:35:40 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/photo?key=<GOOGLE_API>&maxwidth=1600&photoreference=CmRaAAAA-c9FjWePjKByYdfHPrH6VPB5UGeDX5x7a2MfSzyYxVwEfTK32P13VhqND3tF3Fa3QCCVGi4SRmQ3rWP0BkDKCboNQBwiFTCZw6EXi889zSe3BYb-QOTHSjcBEHMJc9CDEhA6eyfZUEgr5cdnuLP4YmV2GhRgLFW5oTstru_h0YCIKCBrjSGHPQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - https://lh3.googleusercontent.com/p/AF1QipOB9bbho9gPmGyOjUX5of99x-LRYfH_RNETR9EX=s1600-w849
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<HTML><HEAD><meta http-equiv=\"content-type\" content=\"text/html;charset=utf-8\">\n<TITLE>302
        Moved</TITLE></HEAD><BODY>\n<H1>302 Moved</H1>\nThe document has moved\n<A
        HREF=\"https://lh3.googleusercontent.com/p/AF1QipOB9bbho9gPmGyOjUX5of99x-LRYfH_RNETR9EX=s1600-w849\">here</A>.\r\n</BODY></HTML>\r\n"
  recorded_at: Wed, 10 Jun 2020 02:35:41 GMT
recorded_with: VCR 6.0.0
